@keyframes fadeIn {
      from { opacity: 0; transform: translateY(20px); }
      to { opacity: 1; transform: translateY(0); }
    }
@font-face {
        font-family: shoikafont;
        src: url("font/Shoika/Shoika\ Medium\ Italic.ttf");
    }

    @font-face {
        font-family: shoikafontcontent;
        src: url("font/Shoika/Shoika\ Light.ttf");
    }

    .font-heading {
        font-family: shoikafont;
    }

    .font-content{
        font-family: shoikafontcontent;
    }
    body {
      margin: 0;
      padding: 0;
      background-color: #ffffff;
      font-family: Georgia, "Times New Roman", serif;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 100vh;
      text-align: center;
      color: #333;
      /* animation: fadeIn 1.2s ease-in; */
    }

    h2 {
      font-size: 2em;
      margin-bottom: 0px;
      text-align: start;
    }

    p {
      font-size: 1.2em;
      max-width: 100%;
      margin-bottom: 0px;
      padding-bottom: 0px;
    }

    .container {
        width: 60%;
        height: auto;
        text-align: start;
        margin-top: 1em;
    }
    .head-content {
        text-align: start;
        font-size: 2em;
    }
    .content-content {
        width: 70%;
        font-size: 1.2em;
    }
    .justify {
        text-align: justify;
    }
    .big {
        font-size: 4em;
    }
    .phonetic {
      font-size: 1.5rem;
      color: #888;
      margin-top: -5px;
    }
    


    @media (max-width: 600px) {
    .big{
        font-size: 2em;
    }
    h2 {
        font-size: 1.5em;
    }

    p {
        font-size: 1em;
    }
    }